:root {
    --primary-color1:#026178;
    --primary-color2:#0682AB;
    --primary-color3:#34A1C7;
    --secondary-color1:#F25E74;
    --secondary-color2:#FF8884;
    --white: #fff;
    --fw-700: 700;
    --fw-400: 400;
  }
    //background-color:#F25E74 ;
    //color:#FF8884;
    //color:#026178;
    //color:#0682AB;
    //color:#34A1C7;